@import "../../variables.style.scss";

.side-navbar {
    @include border(0 1px 0 0);
    width: 12%;
    height: 100%;
}

.select {
    @include border(0 0 1px 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 7px 8px 20px;

    &__text-wrapper {

    }

    &__text_pos_top {
        @include text($font_size_standart, $secondary_text_color, $line_height_standart);
    }

    &__text_pos_bottom {
        @include text($font_size_small, $secondary_text_color, $line_height_standart);
    }


    &__arrow-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
    }
}

.list {
    margin: 0px;
    padding: 0px;
}