@import "variables.style.scss";

body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    > #root {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: inherit;
        width: inherit;

        > .main {
            @include text($font_size_small, $secondary_text_color, $line_height_standart);
            width: 100%;
            height: 100%;
            background-color: $main_bg_color;
        }
    }
}
